<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video-Player | {{ page_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load bootstrap3 %}
    {% load staticfiles %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}

    {% bootstrap_messages %}

    {% block extra_script %} {% endblock %}

    <style>
            {% block extra_style %} {% endblock %}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'videoplayer_video_dashboard' %}">Django-Video-Player</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> {{ user }} </a></li>
             <li><a href="{% url 'videoplayer_video_create' %}"><span class="glyphicon glyphicon-upload"></span> Upload Video</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>




