{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% bootstrap_messages %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="my_video_slider">
            <h3 class="text-center font-weight-bold text-white">My Videos</h3>
            {% if my_videos|length != 0 %}
            {% for video in my_videos %}
            <div class="card bg-secondary" style="width: 23rem;">
                <a href="/watch_video/{{ video.uid}}">
                    <img class="card-img-top" src="/media/{{ video.get_thumbnail }}" height=240
                         alt="{{ video.title }} thumbnail">
                </a>
                <div class="card-body">
                    <figure>
                        <a href="/watch_video/{{ video.uid}}">
                            <h4 class="card-title text-center text-white font-weight-bold">
                                {{ video.title}}
                            </h4>
                        </a>
                        <span class="glyphicon glyphicon-facetime-video like-icon text-white"></span>
                        <p class="card-subtitle mb-2 text-muted like-text text-white">Views : {{ video.views }}</p>
                        <!--<p class="card-text">Description of video-->
                        <!--content.</p>-->
                    </figure>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-white font-weight-bold font-green text-center">No Videos. Please Upload</h1>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <form method="post" class="form text-white" enctype="multipart/form-data">
                <h3 class="text-center font-weight-bold">Upload Videos</h3>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-success text-center" id="save_button">
                    {% bootstrap_icon "save" %} Upload
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
