{% extends 'base.html' %}


{% block content %}
<!-- Most Popular Section -->
<section id="most_popular_videos">
    <div class="container">
        <h3>Most Popular Videos</h3>
        <div class="row">
            <div class="col-lg-12 col-sm-4">
                {% for video in most_viewed_videos %}
                <div class="card bg-secondary" style="width: 23rem;">
                    <a href="/watch_video/{{ video.uid}}">
                        <img class="card-img-top" src="/media/{{ video.get_thumbnail }}" height=240
                             alt="{{ video.title }} thumbnail">
                    </a>
                    <div class="card-body">
                        <figure>
                            <a href="/watch_video/{{ video.uid}}">
                                <h4 class="card-title text-center">
                                {{ video.title}}
                                </h4>
                            </a>
                            <span class="glyphicon glyphicon-thumbs-up like-icon"></span>
                            <p class="card-subtitle mb-2 text-muted like-text">Likes</p>
                            <!--<p class="card-text">Description of video-->
                            <!--content.</p>-->
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- All Videos Section -->
<section id="all_videos">
    <div class="container">
        <div class="row">
            <h3>Video Library</h3>
            <div class="col-lg-12 col-sm-4">
                {% for video in all_videos %}
                <div class="card bg-secondary" style="width: 23rem;">
                    <a href="/watch_video/{{ video.uid}}">
                        <img class="card-img-top" src="/media/{{ video.get_thumbnail }}" height=240
                             alt="{{ video.title }} thumbnail">
                    </a>
                    <div class="card-body">
                        <figure>
                            <a href="/watch_video/{{ video.uid}}">
                                <h4 class="card-title text-center">
                                    {{ video.title}}
                                </h4>
                            </a>
                            <span class="glyphicon glyphicon-thumbs-up like-icon"></span>
                            <p class="card-subtitle mb-2 text-muted like-text">Likes</p>
                            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
                            <!--content.</p>-->
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 text-center">
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Most Recent Section -->
<section id="most_recent_videos">
    <div class="container">
        <h3>Most Recent Videos</h3>
        <div class="row">
            <div class="col-lg-12 col-sm-4">
                {% for video in most_recent_videos %}
                <div class="card bg-secondary" style="width: 23rem;">
                    <a href="/watch_video/{{ video.uid}}">
                        <img class="card-img-top" src="/media/{{ video.get_thumbnail }}" height=240
                             alt="{{ video.title }} thumbnail">
                    </a>
                    <div class="card-body">
                        <figure>
                            <a href="/watch_video/{{ video.uid}}">
                                <h4 class="card-title text-center">
                                {{ video.title}}
                                </h4>
                            </a>
                            <span class="glyphicon glyphicon-thumbs-up like-icon"></span>
                            <p class="card-subtitle mb-2 text-muted like-text">Likes</p>
                            <!--<p class="card-text">Description of video-->
                            <!--content.</p>-->
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}