body{
    background: #1C1C1C;
}
a {
    text-decoration: none;
}
a:hover
{
    text-decoration:none;
    cursor:pointer;
}
section h3{
    font-size: 18px;
}
.card{
    display: inline-block;
    margin: 5px 5px 5px 25px;
    border: 5px white solid;
    width: 23rem;
}
.card img{
width:100%;
}
.navbar-brand{
    color: #6AC045 !important;
    font-size: 20px;
}
.card:hover{
    border: 4px  #6AC045 solid;
}
.like-icon, .like-text{
    display: inline-block;
    margin: 1px;
}
section{
    width:100%;
}
#all_videos{
    background: #171717;
}
#most_popular_videos,#all_videos,#most_recent_videos{
    padding-bottom: 40px;
}
#video_title,#recently_added_section{
    color: white;
    font-weight: bold;
}
#save_button{
    margin-top: 20px;
}
#my_video_slider{
    height: 380px;
    overflow-y: hidden;
    overflow-x: auto;
}
#videoPlayer{
    height: 500px !important;
    width: 100% !important;
}
#recently_added_section{
    height: 450px !important;
    overflow-x:hidden;
    overflow-y: auto;
}
.text-white{
    color: white;
}
.font-weight-bold{
    font-weight: bold;
}
#recently_added_section .card{
    width: 21rem;
}
.form{
    width: 75%;
    margin: auto;
}